html { font-size: 22px; }

body { font-family: Arial, Helvetica, sans-serif; }

.container {
  width: 600px;
  margin: 1rem auto;
}

section { margin-bottom: 2rem; }

button { margin-bottom: 1rem; }

#styled .progressor { background-color: gainsboro; }
#styled .progressor-token { fill: dodgerblue; }
